

    <div class="row">
          <div class='well'>
              <box> <h1>section 1</h1></box>
            😊🥺😉😍😘😚😜😂😝😳😁😣😢
          </div>
          <div class='well'>
            <box> <h1>section 2</h1></box>
          😊🥺😉😍😘😚😜😂😝😳😁😣😢
        </div>
        <div class='well'>
            <box> <h1>section 3</h1></box>
          😊🥺😉😍😘😚😜😂😝😳😁😣😢
        </div>
        <div class='well'>
            <box> <h1>section 4</h1></box>
          😊🥺😉😍😘😚😜😂😝😳😁😣😢
        </div>
    </div>  
 

